### IntelliJ IDEA ###
.idea/
*.iml
out/
build/
target/

### Eclipse (por si acaso abres allí) ###
.classpath
.project
.settings/
bin/

### NetBeans (mínimo necesario) ###
/nbproject/private/
/dist/
/nbbuild/
/nbdist/

### VS Code ###
.vscode/

### Java ###
*.class
*.log

### JavaFX SDK ###
javafx-sdk-*/

### Sistema operativo ###
# macOS
.DS_Store
# Windows
Thumbs.db
Desktop.ini

### Otros ###
# Archivos temporales
*.tmp
*.swp
*.bak
